.painting {

}

.cell {
  width: 100%;
  min-width: 1rem;
  min-height: 1rem;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.colors {

}

.row,
.col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.row {
  flex-direction: row;
}

.col {
  flex-grow: 1;
  flex-direction: column;
}